node_modules
coverage
.nyc_output

.env

# Logs
/logs
*.log

.DS_Store
/dist


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
